<a href="https://colab.research.google.com/github/20240609-lab/Homework_2025/blob/main/105d%5Bkey%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
population = {'서울':9407540,'부산':3320276,'인천':2964820}
pnum = population['서울']
print(f'2022년 기준 서울의 인구는 {pnum:,d}명 입니다.')

2022년 기준 서울의 인구는 9,407,540명 입니다.

In [49]:
orddict = {97:'a',98:'b',99:'c'}
print(f'ASCII코드 97문자 {orddict[97]}에 대응됩니다.')

ASCII코드 97문자 a에 대응됩니다.

In [50]:
ret = orddict[95]0

SyntaxError: invalid syntax (ipython-input-4150623.py, line 1)