<a href="https://colab.research.google.com/github/20240609-lab/Homework_2025/blob/main/10type_annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
name = '남하경'
age = 21
weight = 21.9
is_badman = False

In [31]:
name:str='남하경'
age:int = 21
weight:float=21.9
is_badman:bool=False

In [32]:
booklist:list[str]=['삼국지','수호지','초한지']

In [33]:
island:tuple[str,float,float]=('독도',131.52,37.14)

In [34]:
top4_fmailyname:dict[str,int]={'김씨':123456,'나씨':345811,'박씨':963123,'이씨':865909}

In [35]:
fruits:set[str]={'사과','배','수박','참외','딸기'}

In [36]:
fruits:set[str]={'사과','배','수박','참외','딸기'}
fruits={1,2,3,4,5}
print(fruits) ##129

{1, 2, 3, 4, 5}

In [37]:
print(name)
print(age)
print(weight)
print(is_badman)
print(booklist)
print(island)
print(top4_fmailyname)
print(fruits)

남하경
21
21.9
False
['삼국지', '수호지', '초한지']
('독도', 131.52, 37.14)
{'김씨': 123456, '나씨': 345811, '박씨': 963123, '이씨': 865909}
{1, 2, 3, 4, 5}