<a href="https://colab.research.google.com/github/20240609-lab/Homework_2025/blob/main/31int%2Cfloat%2Cstr().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
floatData = 1234.5
intData = int(floatData)
print(f'intData {intData} 자료형은 {type(intData)}입니다.')

intData 1234 자료형은 <class 'int'>입니다.

In [21]:
strData = '1234'
intData = int(strData)
print(f'intData {intData} 자료형은 {type(intData)}입니다.')

intData 1234 자료형은 <class 'int'>입니다.

In [26]:
strData = '1234.5' ##오류설명 숫자로만 이루어지지않는 경우
intData = int(strData)

ValueError: invalid literal for int() with base 10: '1234.5'

In [28]:
strData = '1234.5'
loatData = float(strData)
print(f'floatData {floatData} 자료형은 {type(floatData)}입니다.')

floatData 1234.5 자료형은 <class 'float'>입니다.

In [29]:
print(float('2E5'))
print(float('2e-3'))

200000.0
0.002

In [31]:
intData = 1234; strData1 = str(intData)
floatData1 = 1234.5; strData2 = str(floatData1)
floatData2 = 1e-3; strData3 = str(floatData2)
print(f'정수{intData}=> 문자열 {strData1},{type(strData1)}')
print(f'실수{floatData1}=> 문자열 {strData2},{type(strData2)}')
print(f'실수{floatData2}=> 문자열 {strData3},{type(strData3)}')

정수1234=> 문자열 1234,<class 'str'>
실수1234.5=> 문자열 1234.5,<class 'str'>
실수0.001=> 문자열 0.001,<class 'str'>